# Ignorar ambientes virtuais
.venv/
venv/

# Ignorar arquivos de cache e binários
__pycache__/
*.pyc
*.log

# Ignorar arquivos de configuração do Docker e Git
Dockerfile
docker-compose.yml
.git/
.gitignore

# Ignorar o arquivo de variáveis de ambiente
.env

# Ignorar pasta de mídia/estáticos se estiverem sendo gerenciados externamente
media/
staticfiles/